@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    text-align: center;
    background: rgba(33, 33, 33, 1);
    color: crimson;
}
h2{
    margin-top: 2rem;
}